body, html {
  margin: 0;
  height: 107%; 
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("buddha.png");
}

.header-container {
  
  color: white;
  text-decoration:underline;
}
.heading{
    text-align: center;
    font-size: 70px;
    margin-top: 2px;
}
#login{
    font-size: 25px;
    border-color: gold;
    background-color: black;
    border-radius: 10px;
    margin-right: 100px;
    width: 90px;
    height: 40px;
}
.submit_buttons{
    text-align: center;
}
#SignUp{
    font-size: 25px;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border-color: gold;
    background-color: black;
}
.message{
    color: limegreen;
    font-size: 50px;
}
#intro_first{
    text-align: center;
}
.heading_services{
    display: flex;
    flex-direction: row;
}
#first_line{
    padding-left: 290px;
    color:white;
    font-weight: bold;
}
#second_line{
    padding-left: 120px;
    color:black;
    font-weight: bold;
}
#third_line{
    padding-left: 12px;
    color:white;
    font-weight: bold;
}
.explain{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-left: 20px;
}
#explain_button{
    font-size: 20px;
    width: 300px;
    height: 150px;
}
#services{
    margin-top: 3px;
    text-align:initial;
}
#continue{
    text-align: center;
    font-size: 30px;
    color: white;
}